---
# {{ ansible_managed }}

{% if getent_passwd is defined %}
# getent passwd
users:
{% for u in getent_passwd | dict2items %}
  {{ u.key }}:
    password: {{ u.value[1] }}
    uid: {{ u.value[2] }} 
    gid: {{ u.value[3] }} 
    home: {{ u.value[4] }} 
    shell: {{ u.value[5] }} 
{% endfor %}
{% endif %}

{% if getent_group is defined %}
# getent group
groups:
{% for g in getent_group | dict2items %}
  {{ g.key }}:
    password: {{ g.value[0] }}
    gid: {{ g.value[1] }}
{% if g.value[2] is defined and g.value[2] | length > 0 %}    group_list:{% set glist = g.value[2].split(';') %}
{% for gl in glist %}
      - {{ gl }}
{% endfor %}{% endif %}
{% endfor %}
{% endif %}

{% if getent_hosts is defined %}
# getent hosts
{{ getent_hosts | to_nice_yaml }}
{% endif %}

{% if getent_services is defined %}
# getent services
{{ getent_services | to_nice_yaml }}
{% endif %}

{% if users is defined %}
# User Variables
{{ users | to_nice_yaml }}
{% endif %}

{% if environment is defined and environment != [] %}
# Environment Variables
{{ environment | to_nice_yaml }}
{% endif %}

# Group Variables
{{ groups | to_nice_yaml }}

# Host Variables
{{ hostvars[inventory_hostname] | to_nice_yaml }}

# vim: set ft=yaml: 
...
